POSTGRES_HOST=postgres
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
POSTGRES_PORT=5432
POSTGRES_URL=postgres://myuser:mypassword@postgres:5432/mydatabase
SECRET_KEY=example